@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #854632;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



@font-face {
  font-family: 'Young Serif';
  src: url('./fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Outfit';
  src: url('./fonts/outfit/static/Outfit-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Outfit';
  src: url('./fonts/outfit/static/Outfit-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Outfit';
  src: url('./fonts/outfit/static/Outfit-Bold.ttf') format('truetype');
  font-weight: 700;
}

body{
  background: var(--background);
  color: var(--foreground);
  font-family: 'Outfit', sans-serif;
}

h1, h2 {
    font-family: 'Young Serif', serif;
}

h3{
  font-family: 'Outfit', sans-serif;
}


